# ==============================
# Python virtual environment
# ==============================
venv/
.venv/

# ==============================
# Python cache files
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Dataset
# Keep dataset files local
# ==============================
dataset/*
!dataset/train/
!dataset/test/
!dataset/train/.gitkeep
!dataset/test/.gitkeep

# Ignore all TSV dataset files
dataset/train/*.tsv
dataset/test/*.tsv

# ==============================
# Generated output files
# ==============================
output/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
desktop.ini